@import "tailwindcss";

@layer base {
  * {
    padding: 0;
    box-sizing: border-box;
  }
  body {
    height: 100vh;
    @apply bg-gradient-to-br from-indigo-950 via-purple-900 to-pink-900
  }
}

@layer components {
  .container {
    @apply w-full h-auto bg-[#FBF4FE]/90 rounded-lg p-6
  }
  .background{
    @apply p-3 bg-gradient-to-br from-violet-600 to-fuchsia-600 rounded-2xl shadow-lg 
  }
  .header {
    @apply mb-6 flex items-center justify-between
  }
  .header .leftside {
    @apply flex items-start justify-start gap-4
  }
}