@import "tailwindcss";

@layer base {
  * {
    padding: 0;
    box-sizing: border-box;
  }
  body {
    width: 100vw;
    height: 100vh;
    @apply bg-gradient-to-br from-indigo-950 via-purple-900 to-pink-900
  }
}

@layer components {
  .container {
    @apply w-full h-auto bg-[#FBF4FF]/90 rounded-lg p-6
  }
  .background{
    @apply p-3 bg-gradient-to-br from-violet-600 to-fuchsia-600 rounded-2xl shadow-lg 
  }
  .header {
    @apply mb-6 flex items-center justify-between
  }
  .header .leftside {
    @apply flex items-start justify-start gap-4
  }
  .task-creation{
    @apply sm:max-w-[550px] m-4 p-4 bg-white/10 backdrop-blur-xl z-50 border border-purple-100 gap-4 rounded-lg shadow-lg shadow-purple-400
  }
  .background-clip{
    @apply text-transparent bg-clip-text bg-gradient-to-r from-violet-600 to-fuchsia-600
  }
  .heading{
    @apply flex gap-3 items-center 
  }
}